<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/shop-homepage.css}" rel="stylesheet">
    <link th:href="@{/css/basket.css}" rel="stylesheet">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/user">스프링개인프로젝트</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/user">홈
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="bu_logout" href="logout">로그아웃</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="bu_basket" href="/user/basket">장바구니</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="buy_list" href="/user/buyList">구매목록</a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h2 id="basket_letter">장바구니</h2>

    <div class="basket_contain" >
        <form method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="BasketInOne"th:each="product : ${list}">
                <img th:src="@{${product.url}}" class="product_front">

                <span class="letter">상품명 : <span th:text="${product.name}" class="letter2"></span></span>
                <!--<input type="hidden" th:name="${product.name}" th:value="${product.name}">-->
                <br>
                <br>
                <span class="letter">옵션 : <span th:text="${product.option}" class="letter2"></span>
                    <input type="submit" th:onclick="@{javascript: form.action='/user/basket/delete/__${product.name}__';}"
                           class="delete_bu" value="삭제">
                </span>
                <br>
                <br>
                <span class="letter">가격 : <span th:text="${product.price}" class="letter2"></span></span>
            </div>

            <div>
                <!--버튼에 구매 링크로 이동-->

                <input type="image" class="buy_bu" src="/product/front/buy_letter.png" onclick="javascript: form.action='/user/buy'">
            </div>
            <div class="totalPrice_letter letter2">전체가격 : <span th:text="${totalPrice} + '원'"></span></div>


        </form>
    </div>
</div>

</body>
</html>