<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/shop-homepage.css}" rel="stylesheet">
    <link th:href="@{/css/buy.css}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/user">스프링개인프로젝트</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/user">홈
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="bu_logout" href="logout">로그아웃</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="bu_basket" href="#">장바구니</a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="buyer_info">
        <form action="/user/buy/send" method="post" class="buyForm" onsubmit="return check()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <h2>배송지 정보</h2>
            <br>
            <span>주문자 정보 : <input type="text" th:value="${username}" class="textSpace" name="name" style="width: 100px;"></span>
            <br>
            <span>주문자 주소 : <input type="text" name="address" style="width: 500px;" class="textSpace"></span>
            <br>
            <span>전화 번호 : <input type="text" name="phone" class="textSpace"></span>
            <br>
            <span>요청 사항 : <input type="text" name="need" style="width: 500px;" class="textSpace"> </span>
            <br>
            <h2 style="margin-top: 60px;">결제 방식</h2>
            <select name="pay" th:size="1" class="pick_pay"> <!--옵션 리스트-->
                <option value="카드" selected>카드</option>
                <option value="카카오페이">카카오페이</option>
                <option value="계좌이체">계좌이체</option>
            </select>

            <input type="submit" class="buy_bu" value="구입하기">
        </form>
    </div>
</div>

<script>
    function check() {
        var isnt_empty = true;
        $('.buyForm').find('input[type!="hidden"]').each(function(){ <!--byForm안에 있는 hidden을 제외한 각 객체들은 만약 값이 없으면 true 없으면 false-->
            if(!$(this).val()) {
                isnt_empty = false;
            }
        });

        if(isnt_empty == false){
            alert("빈칸을 모두 채워주세요");
        }
        return isnt_empty;
    }



</script>
</body>
</html>